<header>
    <nav class="green darken-3">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">News Scraper</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html">Home</a></li>
                    <li><a href="badges.html">Saved Articles</a></li>
                    <li><a class="green waves-effect waves-light btn">Scrape new Articles</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="sass.html">Home</a></li>
                    <li><a href="badges.html">Saved Articles</a></li> 
                    <li><a class="waves-effect waves-light btn">Scrape New Articles</a></li>
                </ul>
            </div>    
        </div>
        
    </nav>    
</header>

<main>
    <div class="container">
        <h2 class="center">Articles</h2>

        <ul id="articles" class="collapsible popout" data-collapsible="expandable">
            
        </ul>    
    </div>
    
</main>






